<img src="mmu.png" style="height: 80px;" align=left>

# Assignment: Question 2 [40%]

# Project Members:
(1) 10010101010 James Bond

# Load Libraries

# Load Dataset

### QUESTION 1: Identifying top-5 business/retail [5%]

The objective of this question is to identify FIVE most frequently found business/retail. Suppose the dataset consists of only 3 records with each record has a location information (lat/lon). Execute the following steps:

Step 1: extract all business/retail within 2km from a location. Since you have only 3 records (locations), you need to loop for 3 times. You should expect that different locations result in different retail/business.

Step 2: count the frequently for each business/retail for each location. Example as follow:
- Location 1 = [McD, KFC, CIMB, McD, Starbucks, CoffeeBean, Nandos, BananaLeaf]
- Location 2 = [McD, Starbucks, PizzaHut, Domino, Maybank, CoffeeBean, BananaLeaf]
- Location 3 = [McD, CoffeeBean, Maybank, Pizzahut, ChildrenHouse, Subway, Tealive]

Step 3: Count and sort the locations. 
When you do a count for each retail/business, you will have:
McD(4), KFC(1), CIMB(1), MMU(1), Starbucks(2), CoffeeBean(3), Subway(1), BananaLeaf(2)....etc. You should then SORT descendingly according to the count. From the list, pick top-3 retail/business. These 3 retail/business are then the 3 new columns for the original dataset.  

Step 4: Append the original table with the new columns with count. The table should look like:

| Location | ... | McD | CoffeeBean | BananaLeaf |
| --- | --- | --- | --- | --- |
| 1   | ... | 2 | 1 | 1 |
| 2   | ... | 1 | 1 | 1 |
| 3   | ... | 1 | 1 | 0 |


Step 5: For each location, set "1" to indicate existence of that retail/business at that particular location and "0" otherwise. So, finally, the original dataset would have 3 new columns appended. The table should look like the following:

| Location | ... | McD | CoffeeBean | BananaLeaf |
| --- | --- | --- | --- | --- |
| 1   | ... | 1 | 1 | 1 |
| 2   | ... | 1 | 1 | 1 |
| 3   | ... | 1 | 1 | 0 |

Notes:

- you can extract the business/retail from yellowpages (https://www.yellowpages.my/) or through Google Places API. Becareful that using Google API may need you to pay. Check and plan properly to avoid unnecessary inconvenience. Both the lecturer and the tutor are NOT responsible for any payment incurred when doing this project.

### QUESTION 2: Streamlit with map with location profile [5%]

Create a streamlit with interactive map. When a location is selected, the map will zoom into that location. Provide 3 charts with (i) count of top-5 retail/business, (ii) average monthly family expenses for address within 2km from the selected location, (iii) Count for different types of occupation.

### QUESTION 3: Binning the age and plot the charts [2%]

Cut the AGE into bins of [10,20,30,40,50].

Plot a barchart for the binned age.

Plot a histogram based on the bins

### QUESTION 4: Print Q1, Q2, Q3, Q4 for Age [1%]

### QUESTION 5: Distribution of records by Marital Status & Age Group [1%]

Use the same bin as in Question 2 and plot a stack barchart

### QUESTION 6: Is there a significant difference between Spoken Language (English and Malay) towards monthly family expenses? [3%]

(1) Produce a chart.

(2) Run a suitable statistical test

(3) Interpret your findings (indicate "Reject $H_0$" or "Fail to Reject $H_0$" and explain)

#### put your comments here in detail ...

### QUESTION 7: Is there a significant difference between the marital status (single and married) and pub-goer in terms of their annual salary? [3%]

(1) Produce a chart.

(2) Run a suitable statistical test

(3) Interpret your findings (indicate "Reject $H_0$" or "Fail to Reject $H_0$" and explain)

#### Comment about your findings here ...

### QUESTION 8: Do Life Style and Education influence the Monthly Family Expenses? [3%]

(1) Produce a chart.

(2) Run a suitable statistical test

(3) Interpret your findings (indicate "Reject $H_0$" or "Fail to Reject $H_0$" and explain)

#### Comment about your findings here ...

### QUESTION 9: Do Occupation and Marital Status influence the Annual Salary? [3%]

(1) Produce a chart.

(2) Run a suitable statistical test

(3) Interpret your findings (indicate "Reject $H_0$" or "Fail to Reject $H_0$" and explain)

#### Comment about your findings here ...

### QUESTION 10: Are Life Style and Smoking independent? [3%]

(1) Produce a chart.

(2) Run a suitable statistical test

(3) Interpret your findings (indicate "Reject $H_0$" or "Fail to Reject $H_0$" and explain)

#### Comment about your findings here ...

### Question 11: Label encode the dataset [1%]

### Question 12: Feature selection using BORUTA [1%]

In [ ]:
# For random forest, class weight should be "balanced" and maximum of tree depth is 5.
# set random_state = 1
# set n_jobs=-1
# n_estimators="auto"

### Question 13: Prepare training and testing datasets [1%]

In [ ]:
# use 80-20 split, random state = 10

### Question 14: Display Top-10 and Bottom-10 features [1%]

### Question 15: Create Naive Bayes classifier using Top-5 features [1%]

Run 50 times and keep the accuracy, f1-score, recall, precision values

### Question 16: Create Naive Bayes classifier using Top-10 features [1%]

Run 50 times and keep the accuracy, f1-score, recall, precision values

### Question 17: Create XGBoost classifier using the Top-5 features [1%]

Run 50 times and keep the accuracy, f1-score, recall, precision values

### Question 18: Create XGBoost classifier using the Top-10 features [1%]

Run 50 times and keep the accuracy, f1-score, recall, precision values

### Question 19: Is there any significant difference in using different models and number of features? [2%]

#### Comment about your findings here ...

### Question 20: Plot one ROC for the above 4 models [1%]

Print out the AUC for the models